<label for="category-select">選擇平台:</label>
        <select id="platform-select">
            <option value="all">all</option>
            {%for platform in platforms%}
            <option value={{platform}}>{{platform}}</option>
            {%endfor%}
        </select>
<form method="post" action="">
    {% csrf_token %}
    {{formset.management_form}}
    <table>
        <tr>         
            <th>平台</th>
            <th>品名</th>
            <th>上市日期</th>
            <th>建議售價</th>
            <th>備註</th>
            <th>輸入備註</th>
            <th>數量</th>
            <th>操作</th>
        </tr>
        {%for form,product in combined%} 
            <tr class="trs {{product.platform}}">
                <td>{{product.platform}}</td>
                <td>{{product.product_name}}</td>
                <td>{{product.release_date|date:"Y-m-d"|default:"無"}}</td>
                <td>{{product.suggested_price|default:"無"}}</td>
                <td>{{product.notes|default:"無"}}</td>
                <td>{{form.input_notes}}</td>
                <td>{{form.quantity}}</td>
                
                <td>
                    <button type="button" onclick="decrement(this)">-</button>
                    <button type="button" onclick="increment(this)">+</button>
                </td>
            </tr>
        {%empty%}
        <td>無商品</td>
        {%endfor%}
    </table>
    <button type="submit">上傳</button>
</form>
